{% extends "base.html" %}
{% block content %}
    <form method="POST" action="#" class="form-login">
        <h1 class="form-signin-heading" id="local-title">Create account</h1>
        {% csrf_token %}
        <table class="spaced_table">
        {{ form.as_table }}
        </table>

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" id="confirmButton"/>
    </form>

{% endblock %}

{% block sidebar %}

    <div id="sidebarContent">
        <p class="lead">Registration.</p>
        <p>Choose developer if you want to add game on our platform and check your income with statistics.</p>
        <p>After your registration you'll receive a mail with a link used to activate your account OR link in console.</p>
    </div>

{% endblock %}